.youtubecard {
    width: 100%;
    margin-bottom: 40px;
    margin: auto;
    padding: 5%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.youtubeCardImg {
    height: 250px;
    width: 440px;
}

.youtubeCardDetails {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    width: 440px;
}

.videoText {
    margin-left: 15px;
}

.videoText > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videoText > p {
    font-size: 14px;
    color: gray;
}

.videoImg {
    height: 30px !important;
    width: 30px !important;
}

.videoText > * {
    margin: 1px;
}